#################################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio при поддержке Дмитрия
#################################################################################################
.DS_Store
/.vs
/settings.php
